<!-- 100% height & width, flexbox, 
			designed to be sized by the page component
			inside of container should be responsive
			todo: global style 
-->
<div class="feature-container">
	<div class="todo-container">
		<div class="todo-list">
			<div class="todo-title todo-item">TODO:</div>
			<div class="todo-item">
				<input type="text" [formControl]="searchTodos" class="todo-input" />
			</div>
			<div
				*ngFor="let todo of todos$ | async; let i = index; trackBy: getTodoId"
				class="todo-item"
			>
				<input type="checkbox" id="todo-{{ i }}" (change)="toggleTodo(todo)" />
				<label for="todo-{{ i }}">{{ todo.description }}</label>
				<button (click)="deleteTodo(todo)">delete</button>
			</div>
			<div class="todo-item">
				<input
					type="text"
					[formControl]="newTodo"
					(keypress)="handleKeyPress($event)"
					class="todo-input"
				/>
				<button (click)="addTodo()">Add</button>
			</div>
		</div>
	</div>
</div>
