.feature-container {
	width: 100%;
	height: 100%;
	justify-content: center;
}

// TODO: ...
.todo-container {
	flex-direction: column;
	align-items: flex-start;
	// width: auto;
	max-width: 60ch;
	width: 100%;
	margin: auto;
	line-height: 1.75;
}

.todo-title {
	font-weight: bold;
	font-size: large;
	padding: 1rem 0rem 0.2rem 0rem;
	margin: 0;
}

.todo-list {
	width: 100%;
	margin: auto;
	max-width: 60ch;
	padding: 0;

	border: 1px dashed black;
	border-radius: 0.7rem;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0.3rem;
	align-items: center;
}

label {
	width: 100%;
	text-align: left;
}

button {
	display: block;
	width: 60px;
	height: 25px;
	background-color: rgb(205, 186, 223);
	color: black;
	padding: 2px;
	border-width: 1px;
	border-style: outset;
	border-radius: 5px;
	flex: 0 0 auto;
}

.todo-input {
	width: 80%;
	height: 100%;
}
